.about_us {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about_us__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.about_us__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.about_us__content_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space;
}

h5 {
  background-color: #499100;
  color: white;
  font-weight: 600;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_us_text_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 22px;
}

.about_us_titles {
  font-weight: 600;
  font-size: 18px;
}
.about_us_texts:before {
  content: '/';
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 2px 0 5px;
  transform: rotate(35deg);
  color: #499100;
}
.about_us_slider_image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  display: block;
  margin: 0 auto;
}
.about_us_image_wrapper {
  max-width: 520px;
  width: 100%;
  align-self: center;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.5s;
}
.swiper3_custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.swiper3_pagi {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .about_us__content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
